<h2>Welcome!</h2>

<p>Contacts Custom Fields is a Ruby on Rails application that implements:</p>
<ul>
    <li>User authentication with Devise</li>
    <li>Custom fields for contacts with PostgreSQL hstore</li>
</ul>

<p>First you have to log in. If its your first time, you can sign in informing any email.</p>
<p>At navigation bar, you have access to "Contacts" and "Contacts Custom Fields".</p>

<h3>Contacts Custom Fields</h3>
<p>It supports three types of custom fields: Text Field, Text Area and Combo Box.</p>
<p>For the last one, you have to inform the options to display at the combo.</p>
<p>Add as many custom fields as you pleased.</p>

<h3>Contacts</h3>
<p>The new contact page will have the "Name" and "Email" fixed fields, followed by the custom fields you have created.</p>
<p>Only the name and email will be validated.</p>

<br/>
<h4>Thanks for trying!</h4>

