<% provide(:title, "Edit Custom Field") %>

<h2>Editing Contact Custom Field</h2>

<%= render 'form' %>

<%= link_to 'Show', @contact_custom_field %> |
<%= link_to 'Back', contact_custom_fields_path %>
